extends layout

block content
	- eventsByDate = {};
	- var d;
	- for(var i in events)
		-	d = new Date(events[i].dateTime)
		-	events[i].id = i;
		-	events[i].dateTime = d;
		-	if(!eventsByDate.hasOwnProperty(d.getDate()))
			-	eventsByDate[d.getDate()] = [];
		-	eventsByDate[d.getDate()].push(events[i]);
	.span16
		table.table.table-bordered
			tr
				th Sunday
				th Monday
				th Tuesday
				th Wednesday
				th Thurdays
				th Friday
				th Saturday
			tr
			- var count = 1;
			each day in days
				if (count == 8 || count == 15 || count == 22 || count == 29)
					tr
				td.calCell(id='cell_'+day)= day
					if(eventsByDate.hasOwnProperty(day))
						each event in eventsByDate[day]
							br
							= event.name

				- count++;

	.span9
		table.table.table-striped(id='eventList')
			tr
				th Date
				th Event
				th Time
				th Location
				th Description
			each events, day in eventsByDate
				each event in events
					tr
						- var date = new Date(event.dateTime);
						td(width='40px')= (date.getMonth()+1)+"/"+date.getDate()
						td= event.name
						td 7:00PM
						td SSE Lab 1670
						td= event.info