extends layout

block content
	script(type='text/javascript')


	.span12
		table.table.table-bordered
			tr
				th Sunday
				th Monday
				th Tuesday
				th Wednesday
				th Thurdays
				th Friday
				th Saturday
			tr
			- var count = 1;
			each day in days
				if (count == 8 || count == 15 || count == 22 || count == 29)
					tr
				td.calCell(id='cell_'+day)= day
				- count++;

	.span2
		table.table.table-striped
			tr
				th Date
				th Event
			each name, date in events
				tr
					td= month+'/'+date
					td= name